@import url("reset.scss");


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    background-color: #302C42;
    color: #FFF;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0px 15px;
}

.main {
    flex: 1 1 auto;
}

///////////////////////////Header/////////////////////////////

.header {
    margin-top: 50px;

    @media (max-width: 991.98px) {
        margin-top: 30px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-elements {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__logo {
        width: 102px;
        height: 103px;

        @media (max-width: 991.98px) {
            width: 60px;
            height: 60px;
        }
    }

    &__hydra {
        width: 76px;
        height: 46px;

        @media (max-width: 991.98px) {
            width: clamp(60px, 8vw, 76px);
            height: clamp(40px, 8vw, 46px);
        }
    }

    &__list {
        display: flex;
        column-gap: 41px;

        @media (max-width: 991.98px) {
            column-gap: 20px;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 20px;
        }
    }

    &__item {
        font-size: 12px;
        line-height: normal;

        @media (max-width: 767.98px) {
            font-size: 24px;
        }

        &:nth-last-child(-n+2) {
            display: none;

            @media (max-width: 490.98px) {
                display: block;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 38px;

        @media (max-width: 991.98px) {
            column-gap: 15px;
        }

        &>button {
            width: 155px;
            height: 48px;
            border-radius: 40px;
            font-size: 12px;
            line-height: normal;

            @media (max-width: 991.98px) {
                width: 125px;
                height: 43px;
            }
        }

        @media (max-width: 767.98px) {
            margin-left: auto;
        }

        @media (max-width: 490.98px) {
            display: none;
        }
    }

    &__contact {
        border: 2px solid #FFF;
    }

    &__join {
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    }


    &__body {
        @media (max-width: 767.98px) {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: #302C42;
            left: -110%;
            top: 0;
            padding: 85px 15px 30px 15px;
            overflow: auto;
            transition: left 0.3s ease 0s;

            &::before {
                content: "";
                width: 100%;
                position: fixed;
                top: 0;
                left: -110%;
                height: 90px;
                background-color: #302C42;
                z-index: 5;
                transition: left 0.3s ease 0s;
            }

        }

    }
}

.icon-menu {
    display: none;

    @media (max-width: 767.98px) {
        & {
            display: block;
            flex: 0 0 35px;
            height: 18px;
            position: relative;
            z-index: 5;
            margin-left: 20px;
        }
    }
}

.menu-open .header__body,
.menu-open .header__body::before {
    left: 0;
}