@import url("reset.scss");


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    background-color: #302C42;
    color: #FFF;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0px 15px;
}

.main {
    flex: 1 1 auto;
}

%colorHover {
    transition: color 0.2s ease;

    &:hover {
        color: #ece06c;
    }
}

%buttonColor {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

    &:hover {
        background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    }
}

%buttonTemplate {
    position: relative;
    z-index: 5;
    @extend %buttonColor;
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 214px;
    height: 48px;
}


@mixin arrayButton($url, $rotate) {
    width: 44px;
    height: 44px;
    content: url($url);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(14, 14, 14, 0.32);
    transform: rotate($rotate);
    background: linear-gradient(268deg, #C0B7E8 0%, #8176AF 100%);

    &:hover {
        background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    }
}

///////////////////////////Header/////////////////////////////

.header {
    margin-top: 50px;
    z-index: 10;
    margin-bottom: 60px;

    @media (max-width: 991.98px) {
        margin-top: 30px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-elements {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__logo {
        width: 102px;
        height: 103px;

        @media (max-width: 991.98px) {
            width: 60px;
            height: 60px;
        }
    }

    &__hydra {
        width: 76px;
        height: 46px;

        @media (max-width: 991.98px) {
            width: clamp(60px, 8vw, 76px);
            height: clamp(40px, 8vw, 46px);
        }
    }

    &__list {
        display: flex;
        column-gap: 41px;

        @media (max-width: 991.98px) {
            column-gap: 20px;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 20px;
        }
    }

    &__item {
        font-size: 12px;
        line-height: normal;
        @extend %colorHover;

        @media (max-width: 767.98px) {
            font-size: 24px;
        }

        &:nth-last-child(-n+2) {
            display: none;

            @media (max-width: 490.98px) {
                display: block;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 38px;

        @media (max-width: 991.98px) {
            column-gap: 15px;
        }

        &>button {
            width: 155px;
            height: 48px;
            border-radius: 40px;
            font-size: 12px;
            line-height: normal;

            @media (max-width: 991.98px) {
                width: 125px;
                height: 43px;
            }
        }

        @media (max-width: 767.98px) {
            margin-left: auto;
        }

        @media (max-width: 490.98px) {
            display: none;
        }
    }

    &__contact {
        border: 2px solid #FFF;
        @extend %colorHover;

        &:hover {
            border: 2px solid #ece06c;
        }
    }

    &__join {
        @extend %buttonColor;
        color: #343045;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
    }


    &__body {
        @media (max-width: 767.98px) {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: #302C42;
            left: -110%;
            top: 0;
            padding: 85px 15px 30px 15px;
            overflow: auto;
            transition: left 0.3s ease 0s;

            &::before {
                content: "";
                width: 100%;
                position: fixed;
                top: 0;
                left: -110%;
                height: 90px;
                background-color: #302C42;
                z-index: 5;
                transition: left 0.3s ease 0s;
            }

        }

    }
}

.icon-menu {
    display: none;

    @media (max-width: 767.98px) {
        & {
            display: block;
            flex: 0 0 35px;
            height: 18px;
            position: relative;
            z-index: 5;
            margin-left: 20px;
        }
    }
}

.menu-open .header__body,
.menu-open .header__body::before {
    left: 0;
}


//////////////////////////Main/////////////////////////////////



.main {

    &__container {}
}

.main-section {}

.main-page {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

    @media (max-width: 767.98px) {
        margin-top: 63px;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    &__info {
        position: relative;
        z-index: 5;
        flex: 0 1 36%;
        margin-right: 30px;

        @media (max-width: 767.98px) {
            margin-right: 0px;
        }
    }

    &__title {}

    &__main-title {
        font-size: clamp(26px, 4vw, 41px);
        font-weight: 700;
        line-height: normal;

        @media (max-width: 767.98px) {
            text-align: center;
        }

        & span {
            background: linear-gradient(90deg, #C0B7E8, #8176AF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            position: relative;
        }

        & span::after {
            content: attr(data-letter);
            position: absolute;
            top: 0;
            left: 0;
            color: #000000;
        }
    }



    &__under-title {
        font-size: clamp(25px, 4vw, 40px);
        font-weight: 700;
        line-height: normal;

        @media (max-width: 767.98px) {
            text-align: center;
        }

        @media (max-width: 400.98px) {
            margin-bottom: 36px;
        }

        & span {
            background: linear-gradient(200deg, #C0B7E8, #8176AF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            position: relative;
        }

        & span::after {
            content: attr(data-letter);
            position: absolute;
            top: 0;
            left: 0;
            color: #000000;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-top: 36px;
        margin-bottom: 66px;

        @media (max-width: 851.98px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @media (max-width: 767.98px) {
            text-align: center;
        }

        @media (max-width: 400.98px) {
            display: none;
        }
    }

    &__button-arrow {
        display: flex;
        align-items: center;
        column-gap: 11px;

        @media (max-width: 767.98px) {
            justify-content: center;
        }
    }

    &__button {
        @extend %buttonTemplate;

        @media (max-width: 767.98px) {
            justify-content: center;
        }
    }

    &__arrow {
        cursor: pointer;
        position: relative;
        z-index: 5;

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__img-box {
        position: relative;

        @media (max-width: 767.98px) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__photo {
        position: relative;
        width: 100%;
        border-radius: 100px 100px 100px 240px;
        background: #A3A3A3;
        box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.25);
        z-index: 5;

        @media (max-width: 767.98px) {
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.25);
        }
    }

    &__vector {
        position: absolute;
    }
}

.vector01 {
    right: -17%;
    top: -23%;

    @media (max-width: 453.98px) {
        width: 347px;
        height: 562px;
        right: -28%;
        top: -39%;
    }
}

.vector02 {
    left: 15%;
    top: -68%;

    @media (max-width: 453.98px) {
        width: 316px;
        height: 709px;
        left: -2%;
        top: -70%;
    }
}

.vector03 {
    left: -28%;
    bottom: -32%;

    @media (max-width: 453.98px) {
        width: 617px;
        height: 352px;
        left: -64%;
        bottom: -77%;
    }
}

.vector04 {
    left: -16%;
    top: -5%;

    @media (max-width: 767.98px) {
        display: none;
    }
}



//////////////////////////Additional info///////////////////////////////


.main-section {}

.contacts {
    position: relative;
    z-index: 5;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    padding: 48px 50px;
    margin-top: 88px;

    @media (max-width: 1079.98px) {
        padding: 38px 30px;
    }

    @media (max-width: 919.98px) {
        padding: 28px 10px;
        margin-top: 68px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        @media (max-width: 482.98px) {
            column-gap: 3px;
            margin: 0 20px;
        }
    }

    &__icon {}

    &__info {}

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;

        @media (max-width: 400.98px) {
            display: none;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
    }

    &__phone {
        position: relative;
        margin: 0 10px;

        &::before {
            content: "";
            position: absolute;
            top: -50%;
            left: 0%;
            width: 1px;
            height: 117px;
            opacity: 0.33;
            background-color: #C0B7E8;

            @media (max-width: 693.98px) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -50%;
            right: 0%;
            width: 1px;
            opacity: 0.33;
            height: 117px;
            background-color: #C0B7E8;

            @media (max-width: 693.98px) {
                display: none;
            }
        }
    }
}

.swiper-button-prev {
    content: url("../images/main/chevron-circle-left.svg");
    color: inherit !important;
    background-color: inherit;
}

.swiper-button-next {
    content: url("../images/main/chevron-circle-right.svg");
    color: inherit !important;
    background-color: inherit;
}




//////////////////////////introduce///////////////////////////////



.main-section {}

.introduce {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

    @media (max-width: 693.98px) {
        flex-direction: column;
        margin-top: 60px;
    }

    &__title {}

    &__main-text {
        font-size: clamp(26px, 4vw, 36px);
        line-height: normal;

        @media (max-width: 693.98px) {
            text-align: center;
        }
    }

    &__second-text-arrow {
        display: flex;
        align-items: center;
        column-gap: 30px;
        height: 30px;
        margin-top: 10px;

        @media (max-width: 693.98px) {
            margin-bottom: 30px;
        }

    }

    &__second-text {
        font-size: clamp(26px, 4vw, 36px);
        font-weight: 300;
        line-height: normal;
        white-space: nowrap;
        position: relative;

        @media (max-width: 693.98px) {
            margin: 0 auto;
        }
    }

    &__text {
        font-weight: 400;
        line-height: normal;
        max-width: 652px;
        display: flex;
        align-items: end;

        @media (max-width: 400.98px) {
            display: none;
        }
    }

    &__icon {
        width: clamp(100px, 20vw, 250px);

        @media (max-width: 693.98px) {
            display: none;
        }
    }

}


///////////////////About//////////////////////





.main-section {}

.about {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 767.98px) {
        flex-direction: column;
        margin-top: 60px;
    }

    @media (max-width: 400.98px) {
        margin-top: 10px;
    }

    &__img {
        position: relative;
    }

    &__photo {
        position: relative;
        z-index: 5;
        width: 100%;
    }

    &__info {
        flex: 0 1 630px;

        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 auto;
        }
    }

    &__title {
        font-size: clamp(26px, 4vw, 36px);
        line-height: normal;

        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }

    &__subtitle {
        font-size: clamp(26px, 4vw, 36px);
        font-weight: 300;
        line-height: normal;
    }

    &__text {
        font-weight: 400;
        line-height: normal;
        margin-top: 42px;
        margin-bottom: 28px;

        @media (max-width: 1152.98px) {
            margin-top: 22px;
        }
    }

    &__button {
        @extend %buttonTemplate;
    }

    &__vector {
        position: absolute;

        @media (max-width: 767.98px) {
            display: none;
        }
    }
}

.vector07 {
    top: 4%;
    left: -10%;
}

.vector08 {
    bottom: 10%;
    left: -17%;
}




////////////////////////Cards///////////////////////////////////




.main-section {}

.cards {
    position: relative;
    margin-top: 100px;

    @media (max-width: 1011.98px) {
        margin-top: 60px;
    }

    @media (max-width: 400.98px) {
        margin-top: 20px;
    }

    & .swiper {
        & .swiper-button-prev {
            @include arrayButton("../images/main/chevron-small-down.svg", 0deg);
        }

        & .swiper-button-next {
            @include arrayButton("../images/main/chevron-small-down.svg", 180deg);
        }
    }
}

.card {
    border-radius: 40px;
    margin: 0 auto;
    background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
    padding-inline: 7px;
    max-width: 310px;

    &__title {
        font-size: 24px;
        line-height: normal;
        margin-top: 21px;
        margin-bottom: 17px;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        margin-top: 21px;
        max-width: 250px;
        margin-bottom: 35px;
    }

    &__button {
        width: 155px;
        height: 48px;
        border-radius: 40px;
        font-size: 12px;
        line-height: normal;
        @extend %buttonColor;
        color: #343045;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
    }

    &__img {
        border-radius: 50%;
        box-shadow: 0px 0px 0px 13px rgba(14, 14, 14, 0.32);
    }

    &__vector {
        position: absolute;
    }
}

.vector14 {
    top: 0;
    left: -7%;

    @media (max-width: 767.98px) {
        display: none;
    }
}



/////////////////////////propose/////////////////////



.main-section {}

.propose {

    background-image: url("../images//main/MaskGroup.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 114px;
    position: relative;

    @media (max-width: 767.98px) {
        margin-top: 50px;
    }

    &::after {
        position: absolute;
        bottom: -5%;
        left: calc(50% - 22px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        cursor: pointer;
        @include arrayButton("../images/main/chevron-small-down.svg", 270deg);

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__title {
        font-size: 36px;
        font-size: clamp(16px, 4vw, 36px);
        line-height: normal;
        margin-top: min(10%, 108px);
        margin-bottom: 14px;
    }

    &__subtitle {
        font-size: 36px;
        font-size: clamp(24px, 4vw, 36px);
        font-weight: 300;
        line-height: normal;
        margin-bottom: min(10%, 96px);
    }

}



////////////////////////companies//////////////////////





.main-section {}

.companies {
    margin-top: 30px;

    & .swiper {
        & .swiper-wrapper {
            display: flex;
            align-items: center;

            & .swiper-slide {
                display: flex;
                justify-content: center;
            }
        }

        & .swiper-button-prev {
            @include arrayButton("../images/main/chevron-small-down.svg", 0deg);
        }

        & .swiper-button-next {
            @include arrayButton("../images/main/chevron-small-down.svg", 180deg);
        }

    }

    &__photo {
        @media(max-width:1105.98px) {
            width: 60%;
        }
    }
}



.low-margin {
    margin-top: 50px;
}







/////////////////////////////step//////////////////////////






.main-section {}

.steps {
    margin-top: 90px;

    @media (max-width: 767.98px) {
        margin-top: 47px;
    }

    @media (max-width: 400.98px) {
        margin-top: 17px;
    }

    position: relative;

    & .swiper {
        & .swiper-wrapper {
            display: flex;
            align-items: center;

            & .swiper-slide {
                display: flex;
                justify-content: center;
            }
        }

        & .swiper-button-prev {
            position: absolute;
            top: 88%;

            @include arrayButton("../images/main/chevron-small-down.svg", 0deg);
        }

        & .swiper-button-next {
            position: absolute;
            z-index: 5;
            top: 88%;

            @include arrayButton("../images/main/chevron-small-down.svg", 180deg);
        }

    }

    &__step {}

    &__icon {
        position: absolute;
        top: 0;
        left: -6%;

        @media (max-width:767.98px) {
            display: none;
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    max-width: 230px;

    @media (max-width:767.98px) {
        text-align: center;
    }

    &__number {
        color: #343045;
        font-size: 64px;
        font-weight: 700;
        line-height: normal;
        padding: 41px 45px;
        border-radius: 50%;
        background: linear-gradient(251deg, #C0B7E8 0%, #8176AF 100%);
        box-shadow: 0px 0px 0px 19px rgba(14, 14, 14, 0.32);
    }

    &__title {
        font-size: 24px;
        display: flex;
        position: relative;
        z-index: 5;
        margin-top: 44px;
        padding-left: 43px;

        @media (max-width:1105.98px) {
            padding-inline: 20px;
        }

        @media (max-width:767.98px) {
            padding-inline: 20px;
        }

        &::before {
            position: absolute;
            content: url("../images/main/arrow-smaller-right.svg");
            top: -30%;
            left: -10%;
            z-index: 5;

            @media (max-width:1105.98px) {
                display: none;
            }
        }
    }

}








/////////////////////////form///////////////////






.main-section {}

.form-section {
    margin-top: 100px;
    border-radius: 100px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 15px;
    padding-bottom: 50px;

    @media (max-width:658.98px) {
        border-radius: 40px;
    }

    &__title {
        font-size: clamp(26px, 4vw, 36px);
        line-height: normal;
        margin-top: 80px;
        position: relative;
        margin-bottom: min(10%, 50px);
        margin-top: min(15%, 80px);

        &::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 120%;
            background: linear-gradient(90deg, #343045, #C0B7E8 35%, #8176AF 69%, #343045);
            bottom: -30%;
            left: (50% - 60%);
        }
    }

    &__subtitle {
        font-size: clamp(26px, 4vw, 36px);
        font-weight: 300;
        line-height: normal;
        margin-bottom: min(10%, 65px);
        text-align: center;
    }

    &__form {
        max-width: 1058px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 33px;

        @media (max-width:658.98px) {
            row-gap: 22px;
        }
    }
}

.form {

    &__half {
        display: flex;
        column-gap: 10px;

        @media (max-width:658.98px) {
            flex-direction: column;
            row-gap: 22px;
        }

        & .form__input {
            flex: 1 1 50%;
        }
    }

    &__input {
        background-color: inherit;
        border-radius: 40px;
        border: 2px solid #FFF;
        color: #FFF;
        font-size: clamp(14px, 4vw, 16px);
        font-weight: 400;
        line-height: normal;
        max-height: 60px;
        min-height: 50px;
        padding: min(5%, 27px) min(7%, 42px);
    }

    &__textarea {
        background-color: inherit;
        border-radius: 40px;
        border: 2px solid #FFF;
        color: #FFF;
        font-size: clamp(14px, 4vw, 16px);
        font-weight: 400;
        line-height: normal;
        height: 210px;
        padding: min(5%, 27px) min(7%, 42px);
    }

    &__button {
        @extend %buttonTemplate;
        margin: 0 auto;
        margin-top: min(10%, 40px);
    }
}